<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('resources/html/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Start your project here-->

    <!-- Navbar -->
    <%- include('resources/html/header'); %>

<div class="container">
  <span class="display-1"> Welcome to Services</span>
</div>
<%- include('resources/html/footer'); %>

<%- include('resources/js/script'); %>

</body>
</html>